%h3 New reservation

%p= @asset.name

- @reservation.errors.full_messages.each do |e|
    %p= e
    
= form_for @reservation, :url => asset_reservations_path(@asset) do |f|
    = f.hidden_field :start_at
    = f.hidden_field :stop_at
    = f.hidden_field :comment
    = f.submit 'Create'