%div{:class => "span-3 colborder" , :id => "sidebar" } 
	%h3{:class=> "alt"} 
		%a{ :href => "/assets/" , :class => "quiet"} List Assets
	%h3{:class=> "alt"} 
		%a{ :href => "/assets/new" , :class => "quiet"} New Assets
%div{:class => "span-19" , :id => "content" }
	%table{:border => "1"}
		%tbody
			%tr
				%td Name
				%td= @asset.name
			%tr
				%td Type
				%td= @asset.asset_type.name


	%h3 Reservaciones

	%table{:border => "1"}
		%thead
			%th Comment
			%th Start at
			%th Stop at
		%tbody
			- @asset.reservations.each do |reservation|
				%tr
					%td= reservation.comment
					%td= reservation.start_at.to_s
					%td= reservation.stop_at.to_s